__pycache__/imports.cpython-310.pyc
__pycache__/imports.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/dataset.cpython-311.pyc
scrap/data/*
scrap/mdata/activation_embeds_post_mlp_addn_resid.pkl
__pycache__/norm_and_grad.cpython-311.pyc
__pycache__/grad_using_hooks.cpython-311.pyc
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_mlp_gradient.pkl
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_mlp_gradient.pkl
