__pycache__/imports.cpython-310.pyc
__pycache__/imports.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/dataset.cpython-311.pyc
data/*
mdata/activation_embeds_post_mlp_addn_resid.pkl
__pycache__/norm_and_grad.cpython-311.pyc
