__pycache__/imports.cpython-310.pyc
__pycache__/imports.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/dataset.cpython-311.pyc
scrap/data/*
scrap/mdata/activation_embeds_post_mlp_addn_resid.pkl
__pycache__/norm_and_grad.cpython-311.pyc
__pycache__/grad_using_hooks.cpython-311.pyc
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_mlp_gradient.pkl
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_attn_gradient.pkl
scrap/mdata/pythia_mlp_gradient.pkl
scrap/__pycache__/dataset.cpython-311.pyc
scrap/__pycache__/imports.cpython-311.pyc
__pycache__/activation.cpython-310.pyc
__pycache__/dataset.cpython-310.pyc
scrap/__pycache__/imports.cpython-310.pyc
__pycache__/grad.cpython-310.pyc
data/*
scrap/__pycache__/main.cpython-311.pyc
figures/.DS_Store
figures/alpaca/.DS_Store
figures/alpaca/Pythia14m/.DS_Store
figures/alpaca/Pythia160m/.DS_Store
figures/alpaca/Pythia1b/.DS_Store
figures/alpaca/Pythia410m/.DS_Store
figures/alpaca/Pythia70m/.DS_Store
figures/summarisation/.DS_Store
.DS_Store
.DS_Store
__pycache__/imports.cpython-312.pyc
